body{
    /* background: url(/photos/rain.jpg); */
    background-size:cover;
    color:white;
}

hr{
    color: gray;
}

#currentWeather{
    color:black;
    background-color:white;
}
header{
    background-image: linear-gradient(to right, blue,rgb(25, 26, 68) );
}

ul{
    list-style-type: none;
}

.futureCard{
    background-color: rgb(49, 49, 75);
}

li{
    text-align: left;
}

label{
    margin-right: 15px;
}